form {
    display: flex;
    flex-direction: row;
    height: 40px;
}

form input {
    width: 80%;
    height: inherit;
    padding: 10px;
    border: 0;
    border-radius: 3px 0 0 3px;
    font-size: 14px;
}

form input:focus {
    border: 1px solid var(--muji-red);
    outline: none;
}

form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: inherit;
    padding: 0;
    border: 1px solid var(--muji-red);
    border-radius: 0 3px 3px 0;
    background-color: var(--muji-red);
    color: var(--muji-white);
    font-weight: lighter;
    cursor: pointer;
    outline: none;
}

@media (max-width: 599px) { 
    form input {
        width: 90%;
    }
    
    form button {
        width: 10%;
    }
}
