#hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--muji-beige);
    color: var(--muji-red);
    height: 80vh;
}

#hero-text {
    margin: 6em;
}

#hero-text h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0 0 1em 0;
}

#hero-text h2 {
    font-size: 2.5em;
    font-weight: lighter;
    margin: 0 0 1em 0;
}

#hero-text h3 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0 0 1em 0;
}

#hero-text h4 {
    font-size: 1.5em;
    font-weight: lighter;
    margin: 0 0 1em 0;
}

#hero-images-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    max-width: 900px;
    height: 65%;
    margin: 8px;
}

#hero-images-container a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 1em;
    font-weight: bold;
    color: var(--muji-white);
    background-size: cover;
    cursor: pointer;
    position: relative;
}

.hero-image span {
    display: inline-block;
    position: relative;
}

.hero-image span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 3px;
    background-color: var(--muji-red);
    transition: width 0.3s ease;
}

.hero-image:hover span::after {
    width: 100%;
}

#hero-image-1 {
    background-image: url("../assets/images/hero/25aw-eoss-women-864x1080-.jpg");
}

#hero-image-2 {
    background-image: url("../assets/images/hero/25aw-eoss-men-864x1080-.jpg");
}

#hero-image-3 {
    background-image: url("../assets/images/hero/25aw-eoss-home-864x1080-.jpg");
}

footer {
    background-color: var(--muji-gray);
    color: var(--muji-white);
    padding-bottom: 3em;
}

#footer-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 4em;
}

.footer-container {
    flex: 1;
    max-width: 220px;
    text-align: left;
    line-height: 1.5em;
}

.footer-container h3 {
    margin: 1em 0;
}

.footer-container ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

li {
    list-style: none;
}

.outer-footer-container .footer-container {
    margin-bottom: 2em;
}

#footer-signature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#footer-signature hr {
    width: 35%;
    height: 1px;
    border: none;
    background-color: var(--muji-white);
}

#footer-signature div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footer-signature div img {
    width: 75px;
    height: 75px;
    margin-right: 2em;
}

#footer-signature div label {
    font-size: 14px;
}

footer > label {
    display: block;
    width: 100%;
    text-align: right;
    font-weight: 500;
    text-decoration: underline;
    margin: 0;
    padding: 0 3em 0 0;
    color: var(--muji-white);
}