:root {
    --muji-white: #ffffff;
    --muji-gray: #3c3c43;
    --muji-light-gray: #f5f3f2;
    --muji-red: #7f0019;
    --muji-beige: #d6ad7f;

    --font-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-japanese: "Yu Gothic", "Meiryo", sans-serif;
}
