:root {
    --muji-white: #ffffff;
    --muji-gray: #3c3c43;
    --muji-red: #7f0019;

    --font-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-japanese: "Yu Gothic", "Meiryo", sans-serif;
}
